name: Travel Manager API - CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      BASE_URL: http://localhost:3000
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm install
      - name: Start API (background)
        run: npm start &
      - name: Wait for API
        run: sleep 5
      - name: Run functional tests
        run: npm test
      - name: Prepare Mochawesome report artifact
        if: always()
        run: |
          mkdir -p mochawesome-report-artifact
          cp -r mochawesome-report/* mochawesome-report-artifact/
      - name: Upload Mochawesome report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: mochawesome-report-artifact/
